.catalog {
  display: grid;
  grid-template-columns: $card-width;
  justify-content: center;
  gap: 48px;

  &__card {
    display: grid;
    justify-content: center;
    align-items: center;
    width: $card-width;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}

@include media-columns(488px, 2);
@include media-columns(768px, 3);
@include media-columns(1024px, 4);
